<div class="container">
  <div class="row">
    <%= form_for :article, url: articles_path, :html => {:class => "col s12"} do |f| %>
      <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :body %>
          <%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>
          <%= tinymce %>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <%= f.submit "Create Article", class:"btn waves-effect waves-light" %>
        </div>
      </div>
    <% end %>
  </div>
</div>






