<% content_for :head do %>
  <title><%= strip_tags(@article.title) %></title>
  <meta name="description" content="<%= strip_tags(@article.body.truncate(150, separator: ' ')) %>">
<% end %>
<div class="container" id="blog-show-wrapper">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <%= image_tag @article.image.url(:large), id: "blog-show-img" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <%= sanitize @article.title %>
      <%= sanitize @article.body %>
    </div>
    <div class="row">
      <div class="col s12 m4 l2 offset-l1">
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_article_path, class:"btn waves-effect waves-light happy-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>