<!DOCTYPE html>
<html>
  <head>
    <title>CoverCentric</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="grey lighten-5">
    <header>
      <nav>
        <div class="nav-wrapper" id="navbar-spacing">
          <a href="#!" class="brand-logo brand-name"><i class="material-icons logo">track_changes</i>CoverCentric</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html" class="nav-links">Home</a></li>
            <li><a href="badges.html" class="nav-links">Services</a></li>
            <li><a href="collapsible.html" class="nav-links">Contact</a></li>
            <li><a href="mobile.html" class="nav-links">Blog</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Home</a></li>
            <li><a href="badges.html">Services</a></li>
            <li><a href="collapsible.html">Contact</a></li>
            <li><a href="mobile.html">Blog</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="page-footer">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright">
        © <%= Time.now.year %> IncreaseYourCovers.com
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </footer>
  </body>
</html>
